.fullBanner {
    padding-top: 24.67%;
    padding-bottom: 24.67%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;    
}

.recipe-breadcrumb a{
    color: #d3440e;
}