.banner {
  background-color: rgb(88, 88, 88);
  padding: 30px;
  width: 100%;
  height: 220;
  margin: auto;
  position: relative;
  text-align: center;
}

.banner h1 {
  background-color: rgb(88, 88, 85);
  padding: 5px 10px;
  margin: 20px auto;
  color: white;
}

.bannerdesc {
  color: white;
}

.bannerdesc h2 {
  font-size: 70px;
  font-weight: 900;
}

.bannerbutton {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
}
